- if puppy
  %tr
    %a{ href: edit_dashboard_puppy_url(puppy) }
      %td= puppy.id
      %td= puppy.image
      %td= puppy.orientation
      %td
        = link_to '', edit_dashboard_puppy_path(puppy), class: 'glyphicon glyphicon-pencil'
        = link_to '', toggle_disabled_dashboard_puppy_path(puppy), remote: true, class: 'glyphicon glyphicon-trash toggle-disabled'